@font-face { font-family: GE SS Two Medium; src: url('../GE_SS_Two_Medium.otf') }
#nav, #nav ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	_position: absolute; right:15px;
	line-height: 36px; width:960px;
	z-index:100; background:url(../images/nav-bg.png) no-repeat
}
#nav a {
	display: block;
	text-decoration: none
	
	
}
#nav a:hover {
	display: block;
	text-decoration: none; color:#231E1C }
	
	

#nav li {
	position: relative;
	margin: 0; color:#003333; margin:0 12px
}
#nav li a { font-family:Arial, Helvetica, sans-serif; *float:left; font-size:14px; font-weight:normal; color:#FFFFFF; margin:0; padding:0 }
#nav li a:hover { }
#nav ul {
	position: absolute;
	display: none;
	width: 165px; top:35px; left:-25px; background:0
	
}
#nav li ul li a {
	width: 175px!important;
	padding:0 7px; margin:0; font-size:13px!important; font-family:Arial, Helvetica, sans-serif; direction:ltr;
	height: 22px!important;
	line-height:20px;
	float: left; border:solid 1px #231e1c; background:#504541!important; text-align:left!important; color:#FFF!important; border-bottom:0
}
#nav li ul li a:hover { background:#5d8fc7!important; color:#504541!important}
#nav ul ul {
	top: auto;
}
#nav li ul ul {
	right: 144px;
	margin-left: -12px;

}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
	display: none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
	display: block;
}
/*#nav, #nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	line-height: 23px;
	z-index:200;
}
#nav a {
	display: block;
	color: #acacac;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
#nav a:hover {
	background-color: #3a3a3a;
	color: #acacac;
	text-decoration: underline;
}
#nav li {
	float: left;
	position: relative;
	margin: 0 12px;
}
#nav ul {
	position: absolute;
	display: none;
	width: 12em;
}
#nav li a {
	display: block;
}
#nav li ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	line-height: 23px;
}
#nav li ul li {
	float: left;
	position: relative;
	margin: 0;
}
#nav li ul li a {
	width: 120px;
	height: auto;
	float: left;
	background-color: #2a2a2a;
	padding: 3px;
}
#nav li ul a {
	width: 120px;
	height: auto;
	float: left;
}
#nav ul ul {
	top: auto;
}
#nav li ul ul {
	left: 180px;
	margin: 0px 0 0 10px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
	display: none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
	display: block;
}*/
.menu-aboutus {
	width: 68px;
	height: 26px;
	display: block;
	background:url(../images/about-bg.png);
	background-repeat: no-repeat; border:solid 1px #0099cc; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px!important; color:#003333!important; text-align:center; font-weight:normal!important
}
a.menu-aboutus:hover {
	background-position: 0;
	background:url(../images/nav-hover.jpg) repeat-x; border: solid 1px #006699; color:#FFF!important}
.menu-contact {
	width: 67px;
	height: 26px;
	display: block;
	background:url(../images/about-bg.png);
	background-repeat: no-repeat; border:solid 1px #0099cc; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px!important; color:#003333!important; text-align:center; font-weight:normal!important

}
a.menu-contact:hover {
	background-position: 0;
	background:url(../images/nav-hover.jpg) repeat-x!important; border: solid 1px #006699; color:#FFF!important
}
.menu-productionline {
	width: 87px;
	height: 26px;
	display: block;
	background:url(../images/adm-bg.png);
	background-repeat: no-repeat; border:solid 1px #0099cc; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px!important; color:#003333!important; text-align:center; font-weight:normal!important
}
a.menu-productionline:hover {
	background-position: 0;
	background:url(../images/nav-hover.jpg) repeat-x; border: solid 1px #006699; color:#FFF!important}

.menu-products {
	width: 65px;
	height: 26px;
	display: block;
	background:url(../images/about-bg.png);
	background-repeat: no-repeat; border:solid 1px #0099cc; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px!important; color:#003333!important; text-align:center; font-weight:normal!important
}
a.menu-products:hover {
	background-position: 0;
	background:url(../images/nav-hover.jpg) repeat-x!important; border: solid 1px #006699; color:#FFF!important
}

.menu-quality {
	width: 48px;
	height: 26px;
	display: block;
	background:url(../images/about-bg.png);
	background-repeat: no-repeat; border:solid 1px #0099cc; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px!important; color:#003333!important; text-align:center; font-weight:normal!important
}
a.menu-quality:hover {
	background-position: 0;
	background:url(../images/nav-hover.jpg) repeat-x!important; border: solid 1px #006699; color:#FFF!important
}


